<div class="jumbotron">
  <h1>Blocify</h1>
  <p>Never waste another minute with music you don't love!</p>
  <p>
    <%= link_to "New Prediction", new_prediction_path, class: 'btn btn-primary' %>
  </p>
</div>
